@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --dark: #1b262c;
  --light: #bbe1fa;
  --primary: #202c33;
  --secondary: #e4f7f6;
  --ternary: #ff21ec;
  --btn-light:#90cef7;
  --btn-dark:#2b3941;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  /* font-family: 'Source Sans',sans-serif; */
  font-family: "Poppins", sans-serif;
}

.dark {
  background: var(--dark);
  color: var(--light);
}
.light {
  color: var(--dark);
  background: var(--light);
}

.dark-box{
  background: var(--primary);

}
.light-box{
  background: var(--secondary);
}

.dark-btn{
background:var(--btn-dark);
padding: 5px 8px 5px 8px;
border-radius: 5px;
}
.light-btn{
background: var(--btn-light);
padding: 5px 8px 5px 8px;
border-radius: 5px;



}
